.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    
    // Cor primária do Material-UI
    .spinner {
        color: #1976d2;
    }
}
